$background: #1E1E1E;
$mainOrange: #E1743F; //#E1743F
$mainBlue: #2A439D;
$white: #ffffff;
$black: #000;
$gray: #9c9c9c;
$sticker: #FFC8A9;
$js: #F0DC4E;
$php: #A4A6D1; //#787CB5
$wp: #00B4F5; //#00749C