@use 'colors' as *;
@use 'numbers' as *;
.fixed-body {
	touch-action: none;
	overflow: hidden;
	height: 100vh;
}
.mobile-nav {
	position: fixed;
	top: 0;
	transform: translateX(100%);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $mainOrange;
	z-index: 98;
	transition: transform 0.15s linear;
	&--active {
		transform: translateX(0);
	}
	&__list {
		&__list-element {
			margin: 1.3em;
			transition: opacity 0.3s;
			&:hover {
				opacity: 0.6;
			}
			a {
				text-decoration: none;
				color: $white;
				font-family: 'Tiny5', sans-serif;
				font-size: 2rem;
				padding: 0.3em;
			}
		}
	}
	&__socials {
		position: absolute;
		bottom: 100px;
		display: flex;
		a {
			padding: 0.5em;
			color: $white;
			font-size: 2.2rem;
		}
	}
    &__pl,&__uk{
        position: absolute;
        width: 60px;
    }
    &__pl{
        top: 15px;
        left: 30px;
    }
    &__uk{
        top: 15px;
        left: 100px;
    }
}
.line {
	width: 100%;
	height: 1px;
	background-color: $white;
}
.section-title{
	margin: 1.5em 0;
	font-size: 3rem;
	text-align: center;
}
@mixin flex-jcc-aic{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin wraps-border($border-color){
	border: 5px solid $border-color;
	border-radius: 50px;
}