//others
$borderRadius: 18px;
//nav
$logo-padding: 0.5em; //logo and fa-solid
$logo-fontSize: 2rem; //logo
$faSolid-fontSize: 2.5rem;

//home
$homeImg-width: 250px;
$homeImg-marginTop: 4em;
$homeSticker-width: 100px;
$homeSticker-height: 60px;
$homeSticker-rotation: 150deg;
$homeSticker-top: -20px;
$homeSticker-left: -30px;
$homeText-padding: 2em 1em;
$homeText-fontSize: 1.4rem;
$homeText-maxWidth: 630px;
$homeButton-width: 200px;
$homeButton-height: 75px;
$homeButton-mywork-left: -60px;
$homeButton-contact-top: -20px;
$homeButton-contact-left: 60px;
