//others
$borderRadius: 18px;
//nav
$logo-padding: 0.5em; //logo and fa-solid
$logo-fontSize: 1.7rem; //logo
$faSolid-fontSize: 2.3rem;

//home
$homeImg-width: 250px;
$homeImg-marginTop: 4em;
$homeSticker-width: 100px;
$homeSticker-height: 60px;
$homeSticker-rotation: 150deg;
$homeSticker-top: -20px;
$homeSticker-left: -30px;
$homeText-padding: 2em 1em;
$homeText-fontSize: 1.4rem;
$homeText-maxWidth: 630px;
$homeButton-width: 200px;
$homeButton-height: 75px;
$homeButton-mywork-left: -20px;
$homeButton-contact-top: -20px;
$homeButton-contact-left: 120px;
$homeButtons-width: 300px;

//aboutMe
//
//personWrap
$aboutmeWrap-personWrap-width: 350px;
$aboutmeWrap-personWrap-height: 450px;
$aboutmeWrap-personWrap-imgWrap-width: 300px;
$aboutmeWrap-personWrap-imgWrap-height: 300px;
$aboutmeWrap-personWrap-imgWrap-img-bottom: -25px;
$aboutmeWrap-personWrap-imgWrap-img-width: 220px;
$aboutmeWrap-personWrap-name-top: -20px;
$aboutmeWrap-personWrap-name-width: 300px;
$aboutmeWrap-personWrap-name-height: 55px;
$aboutmeWrap-personWrap-name-fontsize: 1.3rem;
$aboutmeWrap-personWrap-email-fontsize: 1.4rem;
$aboutmeWrap-personWrap-cvButton-marginTop: 1em;
$aboutmeWrap-personWrap-cvButton-width: 90px;
$aboutmeWrap-personWrap-cvButton-height: 25px;
//descriptionWrap
$aboutmeWrap-descriptionWrap-marginTop: 2em;
$aboutmeWrap-descriptionWrap-padding: 1.5em;
$aboutmeWrap-descriptionWrap-width: 350px;
$aboutmeWrap-descriptionWrap-height: 290px;
//skilsWrap
$aboutmeWrap-skillsWrap-marginTop: 2em;
$aboutmeWrap-skillsWrap-height: 290px;
$aboutmeWrap-skillsWrap-width: 350px;
$aboutmeWrap-skillsWrap-title-fontSize: 2rem;
$aboutmeWrap-skillsWrap-title-marginBottom: 0.5em;
$aboutmeWrap-skillsWrap-skills-img-margin: 1em;
$aboutmeWrap-skillsWrap-skills-img-width: 70px;
$aboutmeWrap-skillsWrap-skills-img-height: 72px;
//

//myworkWrap
//
//project
$myworkWrap-project-margin: 1.5em 0;
$myworkWrap-project-width: 350px;
$myworkWrap-project-height: 110px;
//project-info
$myworkWrap-project-info-fontSize: 1.4rem;
//project-spec-project-tech
$myworkWrap-project-spec-projectTech-img-width: 50px;
$myworkWrap-project-spec-projectTech-img-height: 50px;
$myworkWrap-project-spec-projectTech-link-fontSize: 3rem;
//project-link
$myworkWrap-link-marginTop: 1.5em;
$myworkWrap-link-width: 250px;
$myworkWrap-link-height: 60px;
//

//certificatesWrap
//
//swiper
$certificatesWrap-swiper-width: 350px;
$certificatesWrap-swiper-height: 270px;
//badges
$certificatesWrap-badges-marginTop: 2em;
$certificatesWrap-img-width: 70px; 
$certificatesWrap-img-margin: 0 0.6em; 
//

//contactWrap
$contactWrap-marginBottom: 5em;
//container
$contactWrap-container-width: 350px;
$contactWrap-container-padding: 2em;
//form
//textarea
$contactWrap-form-textarea-height: 200px;
//input
$contactWrap-input-padding: 0.8em;
$contactWrap-input-margin: 0.8em 0;
$contactWrap-input-fontSize: 1.3rem;
//submit
$contactWrap-submit-margin: 1em 0;
$contactWrap-submit-padding: 0.7em;
$contactWrap-submit-fontSize: 1.3rem;
//socials
$contactWrap-socials-width: 350px;
$contactWrap-socials-padding: 0.2em 0;
$contactWrap-socials-fontSize: 2.5rem;
$contactWrap-socials-link-padding: 0.6em;
//

//footerWrap
$footerWrap-margin: 1em 0;
//left
$footerWrap-left-padding: 1em;
//first-column / second-column
$footerWrap-column-padding-tb: 2em 0; //tb = Top and Bottom
$footerWrap-column-paddingLeft: 1em;
$footerWrap-column-link-padding: 0.3em;

//MEDIA
//
//small >576px
//nav
$s-nav-upper-maxWidth: 576px;
//homeWrap
$s-homeWrap-img-width: 350px;
$s-homeWrap-sticker-width: 120px;
$s-homeWrap-buttons-width: 400px;
$s-homeWrap-button-margin: 1em;
//aboutmeWrap
$s-personWrap-width: 500px;
$s-personWrap-CVButton-padding: 0.9em;
$s-personWrap-descriptionWrap-width: 500px;
$s-personWrap-descriptionWrap-fontSize: 1.2rem;
$s-personWrap-skillsWrap-width: 500px;
$s-personWrap-skillsWrap-height: 350px;
$s-personWrap-skillImg-margin: 1em 1.3em;
$s-personWrap-skillImg-width: 80px;
$s-personWrap-skillImg-height: 82px;
//myworkWrap
$s-myworkWrap-project-width: 500px;
//certificatesWrap
$s-certificatesWrap-swiper-width: 500px;
$s-certificatesWrap-swiper-height: 390px;
//contactWrap
$s-contactWrap-container-width: 500px;
$s-contactWrap-socials-width: 500px;
$contactWrap-input-padding: 1em;
$contactWrap-input-margin: 1em 0;
$contactWrap-socials-fontSize: 3rem;
//footerWrap
$s-footerWrap-paddings-left: 2em;
$s-footerWrap-paddings-fontSize: 1.2rem;
//


//medium > 768px
//nav
$m-nav-upper-maxWidth: 700px;
//homeWrap
$m-homeWrap-img-width: 350px;
//aboutmeWrap
$m-aboutmeWrap-personWrap-width: 580px;
$m-aboutmeWrap-imgWrap-width: 400px;
$m-aboutmeWrap-imgWrap-height: 400px;
$m-aboutmeWrap-img-width: 300px;
$m-aboutmeWrap-name-top: -30px;
$m-aboutmeWrap-name-width: 350px;
$m-aboutmeWrap-email-top: -10px;
$m-personWrap-skillsWrap-width: 580px;
$m-personWrap-descriptionWrap-width: 580px;
//myworkWrap
$m-myworkWrap-project-width: 600px;
//certificatesWrap
$m-certificatesWrap-swiper-width: 700px;
$m-certificatesWrap-swiper-height: 530px;
$m-certificatesWrap-badges-img-width: 120px;
$m-certificatesWrap-badges-img-margin: 2em 2.2em 0 2.2em;
//


//large >992px
//nav
$l-nav-upper-height: 80px;
$l-nav-upper-maxWidth: 970px;
$l-nav-pc-li-padding: 2em 2em;
$l-nav-links-i-fontSize: 1.8rem;
$l-nav-links-i-margin: 0 0.5em;
$l-nav-links-img-width: 40px;
$l-nav-links-img-margin: 0 1em;
//homeWrap
$l-homeWrap-img-width: 300px;
$l-homeWrap-container-width: 500px;
//aboutmeWrap
$l-aboutmeWrap-personWrap-width: 400px;
$l-aboutmeWrap-personWrap-height: 620px;
$l-aboutmeWrap-imgWrap-width: 370px;
$l-aboutmeWrap-imgWrap-height: 370px;
$l-aboutmeWrap-descriptionWrap-height: 270px;
$l-aboutmeWrap-descriptionWrap-width: 490px;
$l-aboutmeWrap-skillsWrap-height: 320px;
$l-aboutmeWrap-skillsWrap-width: 490px;
//myworkWrap
$l-myworkWrap-project-width: 900px;
//certificates
$l-certificatesWrap-swiper-width: 900px;
$l-certificatesWrap-swiper-height: 695px;
$l-certificatesWrap-badges-img-width: 170px;
//contactWrap
$l-contactWrap-container-width: 900px;
$l-contactWrap-socials-width: 900px;
//footerWrap
$l-footerWrap-left-paddingRight: 3em;
$l-footerWrap-column-paddingLeft: 3em;