//others
$borderRadius: 18px;
//nav
$logo-padding: 0.5em; //logo and fa-solid
$logo-fontSize: 2rem; //logo
$faSolid-fontSize: 2.5rem;

//home
$homeImg-width: 250px;
$homeImg-marginTop: 4em;
$homeSticker-width: 100px;
$homeSticker-height: 60px;
$homeSticker-rotation: 150deg;
$homeSticker-top: -20px;
$homeSticker-left: -30px;
$homeText-padding: 2em 1em;
$homeText-fontSize: 1.4rem;
$homeText-maxWidth: 630px;
$homeButton-width: 200px;
$homeButton-height: 75px;
$homeButton-mywork-left: -60px;
$homeButton-contact-top: -20px;
$homeButton-contact-left: 60px;

//aboutMe
//
//personWrap
$aboutmeWrap-personWrap-width: 350px;
$aboutmeWrap-personWrap-height: 450px;
$aboutmeWrap-personWrap-imgWrap-width: 300px;
$aboutmeWrap-personWrap-imgWrap-height: 300px;
$aboutmeWrap-personWrap-imgWrap-img-bottom: -25px;
$aboutmeWrap-personWrap-imgWrap-img-width: 220px;
$aboutmeWrap-personWrap-name-top: -20px;
$aboutmeWrap-personWrap-name-width: 300px;
$aboutmeWrap-personWrap-name-height: 55px;
$aboutmeWrap-personWrap-name-fontsize: 1.3rem;
$aboutmeWrap-personWrap-email-fontsize: 1.4rem;
$aboutmeWrap-personWrap-cvButton-marginTop: 1em;
$aboutmeWrap-personWrap-cvButton-width: 90px;
$aboutmeWrap-personWrap-cvButton-height: 25px;
//descriptionWrap
$aboutmeWrap-descriptionWrap-marginTop: 2em;
$aboutmeWrap-descriptionWrap-padding: 1.5em;
$aboutmeWrap-descriptionWrap-width: 350px;
$aboutmeWrap-descriptionWrap-height: 290px;
//skilsWrap
$aboutmeWrap-skillsWrap-marginTop: 2em;
$aboutmeWrap-skillsWrap-height: 290px;
$aboutmeWrap-skillsWrap-width: 350px;
$aboutmeWrap-skillsWrap-title-fontSize: 2rem;
$aboutmeWrap-skillsWrap-title-marginBottom: 0.5em;
$aboutmeWrap-skillsWrap-skills-img-margin: 1em;
$aboutmeWrap-skillsWrap-skills-img-width: 70px;
//

//myworkWrap
//
//project
$myworkWrap-project-margin: 1.5em 0;
$myworkWrap-project-width: 350px;
$myworkWrap-project-height: 110px;
//project-info
$myworkWrap-project-info-fontSize: 1.4rem;
//project-spec-project-tech
$myworkWrap-project-spec-projectTech-img-width: 50px;
$myworkWrap-project-spec-projectTech-link-fontSize: 3rem;
