@use 'colors' as *;
@use 'numbers' as *;
@use 'components' as *;
* {
	box-sizing: border-box;
	font-size: 10px;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	background-color: $background;
	font-family: 'Open Sans', sans-serif;
	color: $white;
}
.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__upper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__pc {
		display: none;
		width: 100%;
		justify-content: center;
		align-items: center;
		li {
			cursor: pointer;
			transition: background-color 0.2s ease-in;
			&:hover {
				background-color: $mainBlue;
			}
		}
	}
	&__links {
		display: none;
		i {
			cursor: pointer;
			transition: color 0.2s ease-in;
			&:hover {
				color: $mainOrange;
			}
		}
		img {
			opacity: 0.8;
			cursor: pointer;
			transition: opacity 0.2s ease-in;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__logo{
		a{
			color: $white;
		}
	}
	&__logo,
	.fa-solid {
		padding: $logo-padding;
		font-size: $logo-fontSize;
	}
	&__hamburger {
		position: absolute;
		right: 0;
		z-index: 99;
	}
	.fa-solid {
		font-size: $faSolid-fontSize;
		color: $white;
	}
}
.home-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__img-wrap {
		margin-top: $homeImg-marginTop;
		position: relative;
	}
	&__sticker {
		position: absolute;
		top: $homeSticker-top;
		left: $homeSticker-left;
		width: $homeSticker-width;
		height: $homeSticker-height;
		background-color: $sticker;
		transform: rotate($homeSticker-rotation);
		box-shadow: 0px -17px 20px -5px $background;
	}
	&__img {
		width: $homeImg-width;
	}
	&__text {
		max-width: $homeText-maxWidth;
		padding: $homeText-padding;
		font-size: $homeText-fontSize;
		text-align: center;
		.text-js,
		.text-php,
		.text-wp {
			font-family: 'Tiny5', sans-serif;
		}
		.text-js {
			color: $js;
		}
		.text-php {
			color: $php;
		}
		.text-wp {
			color: $wp;
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__buttons {
		width: $homeButtons-width;
	}
	&__button {
		position: relative;
		@include flex-jcc-aic;
		width: $homeButton-width;
		height: $homeButton-height;
		color: $white;
		border-radius: $borderRadius;
		&--mywork {
			left: $homeButton-mywork-left;
			background-color: $mainBlue;
			z-index: 1;
			border: 3px solid $mainBlue;
			cursor: pointer;
			transition: background-color 0.3s ease-in;
			&:hover {
				background-color: $background;
			}
		}
		&--contact {
			top: $homeButton-contact-top;
			left: $homeButton-contact-left;
			background-color: $mainOrange;
			border: 3px solid $mainOrange;
			cursor: pointer;
			transition: background-color 0.3s ease-in;
			&:hover {
				background-color: $background;
			}
		}
	}
}
.aboutme-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	.aboutme-wrap__right-section {
		display: flex;
		flex-direction: column;
	}
	&__person-wrap {
		@include flex-jcc-aic;
		flex-direction: column;
		@include wraps-border($mainOrange);
		background: $background;
		width: $aboutmeWrap-personWrap-width;
		height: $aboutmeWrap-personWrap-height;
	}
	&__img-wrap {
		position: relative;
		width: $aboutmeWrap-personWrap-imgWrap-width;
		height: $aboutmeWrap-personWrap-imgWrap-height;
		border-radius: 50%;
		background: $mainOrange;
		display: flex;
		justify-content: center;
		align-items: end;
	}
	&__img {
		position: relative;
		bottom: $aboutmeWrap-personWrap-imgWrap-img-bottom;
		width: $aboutmeWrap-personWrap-imgWrap-img-width;
	}
	&__name {
		position: relative;
		top: $aboutmeWrap-personWrap-name-top;
		width: $aboutmeWrap-personWrap-name-width;
		height: $aboutmeWrap-personWrap-name-height;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $mainOrange;
		z-index: 99;
		border-radius: 50px;
		font-size: $aboutmeWrap-personWrap-name-fontsize;
	}
	&__email {
		font-size: $aboutmeWrap-personWrap-email-fontsize;
	}
	&__cv-button {
		@include flex-jcc-aic;
		margin-top: $aboutmeWrap-personWrap-cvButton-marginTop;
		width: $aboutmeWrap-personWrap-cvButton-width;
		height: $aboutmeWrap-personWrap-cvButton-height;
		background-color: $mainBlue;
		color: $white;
		border: 3px solid $mainBlue;
		border-radius: 50px;
		cursor: pointer;
		transition: background-color 0.3s ease-in;
		&:hover {
			background-color: $background;
		}
	}
	&__description-wrap {
		margin-top: $aboutmeWrap-descriptionWrap-marginTop;
		padding: $aboutmeWrap-descriptionWrap-padding;
		width: $aboutmeWrap-descriptionWrap-width;
		height: $aboutmeWrap-descriptionWrap-height;
		@include flex-jcc-aic;
		@include wraps-border($mainBlue);
		text-align: center;
		line-height: 1.2em;
	}
	&__skills-wrap {
		margin-top: $aboutmeWrap-skillsWrap-marginTop;
		width: $aboutmeWrap-skillsWrap-width;
		height: $aboutmeWrap-skillsWrap-height;
		@include flex-jcc-aic;
		flex-direction: column;
		@include wraps-border($mainBlue);
	}
	&__title {
		font-size: $aboutmeWrap-skillsWrap-title-fontSize;
		margin-bottom: $aboutmeWrap-skillsWrap-title-marginBottom;
	}
	&__skill-img {
		width: $aboutmeWrap-skillsWrap-skills-img-width;
		margin: $aboutmeWrap-skillsWrap-skills-img-margin;
	}
	&__secondLine {
		display: flex;
	}
	&__firstLine {
		display: flex;
	}
}
.mywork-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	&__project {
		position: relative;
		display: flex;
		overflow: hidden;
		margin: $myworkWrap-project-margin;
		width: $myworkWrap-project-width;
		height: $myworkWrap-project-height;
		border: 2px solid $mainOrange;
		border-radius: $borderRadius;
		&:hover .mywork-wrap__spec {
			transform: translateX(0%);
		}
		&:hover .mywork-wrap__info {
			transform: translateX(-100%);
		}
	}
	&__more-button {
		@include flex-jcc-aic;
		margin-top: $myworkWrap-link-marginTop;
		width: $myworkWrap-link-width;
		height: $myworkWrap-link-height;
		background-color: $mainOrange;
		color: $white;
		border: 3px solid $mainOrange;
		border-radius: $borderRadius;
		cursor: pointer;
		transition: background-color 0.2s ease-in;
		&:hover {
			background-color: $background;
		}
	}
	&__info,
	&__spec {
		position: absolute;
		width: 100%;
		height: 100%;
		@include flex-jcc-aic;
		transition: transform 0.4s ease-in-out;
	}
	&__info {
		p {
			font-size: $myworkWrap-project-info-fontSize;
		}
	}
	&__spec {
		transform: translateX(100%);
		background-color: $mainOrange;
	}
	&__project-name {
		display: none;
	}
	&__project-tech {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
	&__tech-img {
		width: $myworkWrap-project-spec-projectTech-img-width;
	}
	&__tech-link {
		font-size: $myworkWrap-project-spec-projectTech-link-fontSize;
		color: $white;
		transition: scale 0.3s, color 0.3s;
		&:hover {
			scale: 1.1;
			color: $mainBlue;
		}
	}
}
.certificates-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	.swiper {
		width: $certificatesWrap-swiper-width;
		height: $certificatesWrap-swiper-height;
		@include flex-jcc-aic;
	}
	img {
		width: 100%;
		height: 100%;
	}
	&__badges {
		@include flex-jcc-aic;
		margin-top: $certificatesWrap-badges-marginTop;
		img {
			display: none;
			width: $certificatesWrap-img-width;
			margin: $certificatesWrap-img-margin;
		}
	}
}
.contact-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	margin-bottom: $contactWrap-marginBottom;
	&__container {
		display: flex;
		flex-direction: column;
		width: $contactWrap-container-width;
		padding: $contactWrap-container-padding;
		border: 1px solid $mainOrange;
		border-top-left-radius: $borderRadius;
		border-top-right-radius: $borderRadius;
	}
	&__form {
		@include flex-jcc-aic;
		flex-direction: column;
		textarea {
			height: $contactWrap-form-textarea-height;
		}
	}
	&__input {
		width: 100%;
		padding: $contactWrap-input-padding;
		background-color: $background;
		border: 1px solid $mainOrange;
		border-radius: $borderRadius;
		color: $white;
		margin: $contactWrap-input-margin;
		font-size: $contactWrap-input-fontSize;
	}
	&__submit {
		background-color: $mainOrange;
		margin: $contactWrap-submit-margin;
		padding: $contactWrap-submit-padding;
		border: none;
		width: 60%;
		color: $white;
		border: 3px solid $mainOrange;
		border-radius: $borderRadius;
		font-size: $contactWrap-submit-fontSize;
		cursor: pointer;
		transition: 0.2s background-color ease-in;
		&:hover {
			background-color: $background;
		}
	}
	&__socials {
		width: $contactWrap-socials-width;
		background-color: $mainOrange;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: $contactWrap-socials-padding;
		font-size: $contactWrap-socials-fontSize;
		border: 1px solid $mainOrange;
		border-bottom-left-radius: $borderRadius;
		border-bottom-right-radius: $borderRadius;
		pointer-events: none;
		transition: background-color 0.2s ease-in;
		a {
			padding: $contactWrap-socials-link-padding;
			color: $white;
			pointer-events: auto;
			&:hover {
				color: $mainOrange;
			}
		}
		&:hover {
			background-color: $background;
		}
	}
}
.footer-wrap {
	margin: $footerWrap-margin;
	display: flex;
	align-items: center;
	justify-content: center;
	&__left {
		text-align: center;
		border-right: 1px solid $white;
		padding: $footerWrap-left-padding;
		color: $gray;
	}
	&__right {
		display: flex;
	}
	&__first-column,
	&__second-column {
		display: flex;
		flex-direction: column;
		padding: $footerWrap-column-padding-tb;
		padding-left: $footerWrap-column-paddingLeft;
		a {
			color: $gray;
			padding: $footerWrap-column-link-padding;
			&:hover {
				color: $white;
			}
		}
	}
}
@media screen and (min-width: 576px) {
	.nav {
		&__upper {
			position: relative;
			max-width: $s-nav-upper-maxWidth;
		}
	}
	.home-wrap {
		&__buttons {
			display: flex;
			justify-content: space-around;
		}
		&__img {
			width: $s-homeWrap-img-width;
		}
		&__sticker {
			width: $s-homeWrap-sticker-width;
		}
		&__buttons {
			width: $s-homeWrap-buttons-width;
		}
		&__button {
			position: unset;
			margin: $s-homeWrap-button-margin;
			&--work {
				left: unset;
			}
			&--contact {
				top: unset;
				left: unset;
			}
		}
	}
	.aboutme-wrap {
		&__person-wrap {
			width: $s-personWrap-width;
		}
		&__cv-button {
			padding: $s-personWrap-CVButton-padding;
		}
		&__description-wrap {
			width: $s-personWrap-descriptionWrap-width;
			font-size: $s-personWrap-descriptionWrap-fontSize;
		}
		&__skills-wrap {
			width: $s-personWrap-skillsWrap-width;
			height: $s-personWrap-skillsWrap-height;
		}
		&__skill-img {
			margin: $s-personWrap-skillImg-margin;
			width: $s-personWrap-skillImg-width;
		}
	}
	.mywork-wrap {
		&__project {
			width: $s-myworkWrap-project-width;
		}
	}
	.certificates-wrap {
		.swiper {
			width: $s-certificatesWrap-swiper-width;
			height: $s-certificatesWrap-swiper-height;
		}
	}
	.contact-wrap {
		&__container {
			width: $s-contactWrap-container-width;
		}
		&__socials {
			width: $s-contactWrap-socials-width;
		}
	}
	.footer-wrap {
		&__first-column,
		&__second-column,
		&__left {
			padding-left: $s-footerWrap-paddings-left;
			font-size: $s-footerWrap-paddings-fontSize;
		}
	}
}
@media screen and (min-width: 768px) {
	.nav {
		&__upper {
			max-width: $m-nav-upper-maxWidth;
		}
	}
	.home-wrap {
		&__img {
			width: $m-homeWrap-img-width;
		}
	}
	.aboutme-wrap {
		&__person-wrap {
			width: $m-aboutmeWrap-personWrap-width;
			height: $m-aboutmeWrap-personWrap-width;
		}
		&__img-wrap {
			width: $m-aboutmeWrap-imgWrap-width;
			height: $m-aboutmeWrap-imgWrap-height;
			overflow: hidden;
		}
		&__img {
			width: $m-aboutmeWrap-img-width;
		}
		&__name {
			top: $m-aboutmeWrap-name-top;
			width: $m-aboutmeWrap-name-width;
		}
		&__email {
			position: relative;
			top: $m-aboutmeWrap-email-top;
		}
		&__description-wrap {
			width: $m-personWrap-descriptionWrap-width;
		}
		&__skills-wrap {
			width: $m-personWrap-skillsWrap-width;
		}
	}
	.mywork-wrap {
		&__project {
			width: $m-myworkWrap-project-width;
		}
	}
	.certificates-wrap {
		.swiper {
			width: $m-certificatesWrap-swiper-width;
			height: $m-certificatesWrap-swiper-height;
		}
		&__badges {
			img {
				display: block;
				width: $m-certificatesWrap-badges-img-width;
				margin: $m-certificatesWrap-badges-img-margin;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.nav {
		&__upper {
			height: $l-nav-upper-height;
			max-width: $l-nav-upper-maxWidth;
		}
		&__pc {
			display: flex;
			ul {
				display: flex;
			}
			li {
				padding: $l-nav-pc-li-padding;
				a {
					color: $white;
				}
			}
		}
		&__hamburger {
			display: none;
		}
		&__links {
			display: flex;
			align-items: center;
			justify-content: center;
			i {
				font-size: $l-nav-links-i-fontSize;
				color: $white;
				margin: $l-nav-links-i-margin;
			}
			img {
				width: $l-nav-links-img-width;
				margin: $l-nav-links-img-margin;
			}
		}
	}
	.home-wrap {
		flex-direction: row;
		justify-content: center;
		&__img {
			width: $l-homeWrap-img-width;
		}
		&__container {
			width: $l-homeWrap-container-width;
		}
	}
	.aboutme-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		&__container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__right-section{
			margin-left: 1em;
		}
		&__person-wrap {
			width: $l-aboutmeWrap-personWrap-width;
			height: $l-aboutmeWrap-personWrap-height;
		}
		&__img-wrap{
			height: $l-aboutmeWrap-imgWrap-height;
			width: $l-aboutmeWrap-imgWrap-width;
			img{
				width: 280px;
			}
		}
		&__description-wrap {
			margin-top: unset;
			height: $l-aboutmeWrap-descriptionWrap-height;
			width: $l-aboutmeWrap-descriptionWrap-width;
		}
		&__skills-wrap {
			height: $l-aboutmeWrap-skillsWrap-height;
			width: $l-aboutmeWrap-skillsWrap-width;
		}
	}
	.mywork-wrap {
		&__project {
			width: $l-myworkWrap-project-width;
		}
	}
	.certificates-wrap {
		.swiper {
			width: $l-certificatesWrap-swiper-width;
			height: $l-certificatesWrap-swiper-height;
		}
		&__badges {
			img {
				width: $l-certificatesWrap-badges-img-width;
			}
		}
	}
	.contact-wrap {
		&__container {
			width: $l-contactWrap-container-width;
		}
		&__socials {
			width: $l-contactWrap-socials-width;
		}
	}
	.footer-wrap {
		&__left {
			padding-right: $l-footerWrap-left-paddingRight;
		}
		&__first-column,
		&__second-column {
			padding-left: $l-footerWrap-column-paddingLeft;
		}
	}
}
@media screen and (min-width: 1200px) {
}
