@use 'colors' as *;
@use 'numbers' as *;
@use 'components' as *;
* {
	box-sizing: border-box;
	font-size: 10px;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 1em;
}
body {
	overflow-x: hidden;
	background-color: $background;
	font-family: 'Open Sans', sans-serif; //300-800
	color: $white;
	height: 2000px;
}
.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__upper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		&__logo,
		.fa-solid {
			padding: $logo-padding;
			font-size: $logo-fontSize;
			color: $white;
		}
		.fa-solid {
			font-size: $faSolid-fontSize;
		}
		&__hamburger {
			position: absolute;
			right: 0;
			z-index: 99;
		}
	}
}
.home-wrap {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__img-wrap {
		margin-top: $homeImg-marginTop;
		position: relative;
		&__sticker {
			position: absolute;
			top: $homeSticker-top;
			left: $homeSticker-left;
			width: $homeSticker-width;
			height: $homeSticker-height;
			background-color: $sticker;
			transform: rotate($homeSticker-rotation);
			box-shadow: 0px -17px 20px -5px $background;
		}
		&__img {
			width: $homeImg-width;
		}
	}
	&__text {
		max-width: $homeText-maxWidth;
		padding: $homeText-padding;
		font-size: $homeText-fontSize;
		text-align: center;
		.text-js,
		.text-php,
		.text-wp {
			font-family: 'Tiny5', sans-serif;
		}
		.text-js {
			color: $js;
		}
		.text-php {
			color: $php;
		}
		.text-wp {
			color: $wp;
		}
	}
	&__button {
		position: relative;
		@include flex-jcc-aic;
		width: $homeButton-width;
		height: $homeButton-height;
		color: $white;
		border-radius: $borderRadius;
		&--mywork {
			left: $homeButton-mywork-left;
			background-color: $mainBlue;
			z-index: 1;
		}
		&--contact {
			top: $homeButton-contact-top;
			left: $homeButton-contact-left;
			background-color: $mainOrange;
			z-index: -1;
		}
	}
}
.aboutme-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	.aboutme-wrap__right-section {
		display: flex;
		flex-direction: column;
	}
	&__person-wrap {
		@include flex-jcc-aic;
		flex-direction: column;
		@include wraps-border($mainOrange);
		background: $background;
		width: $aboutmeWrap-personWrap-width;
		height: $aboutmeWrap-personWrap-height;
		&__img-wrap {
			position: relative;
			width: $aboutmeWrap-personWrap-imgWrap-width;
			height: $aboutmeWrap-personWrap-imgWrap-height;
			border-radius: 50%;
			background: $mainOrange;
			display: flex;
			justify-content: center;
			align-items: end;
			img {
				position: relative;
				bottom: $aboutmeWrap-personWrap-imgWrap-img-bottom;
				width: $aboutmeWrap-personWrap-imgWrap-img-width;
			}
		}
		&__name {
			position: relative;
			top: $aboutmeWrap-personWrap-name-top;
			width: $aboutmeWrap-personWrap-name-width;
			height: $aboutmeWrap-personWrap-name-height;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $mainOrange;
			z-index: 99;
			border-radius: 50px;
			font-size: $aboutmeWrap-personWrap-name-fontsize;
		}
		&__email {
			font-size: $aboutmeWrap-personWrap-email-fontsize;
		}
		&__cv-button {
			@include flex-jcc-aic;
			margin-top: $aboutmeWrap-personWrap-cvButton-marginTop;
			width: $aboutmeWrap-personWrap-cvButton-width;
			height: $aboutmeWrap-personWrap-cvButton-height;
			background-color: $mainBlue;
			color: $white;
			border-radius: 50px;
		}
	}
	&__description-wrap {
		margin-top: $aboutmeWrap-descriptionWrap-marginTop;
		padding: $aboutmeWrap-descriptionWrap-padding;
		width: $aboutmeWrap-descriptionWrap-width;
		height: $aboutmeWrap-descriptionWrap-height;
		@include flex-jcc-aic;
		@include wraps-border($mainBlue);
		text-align: center;
		line-height: 1.2em;
	}
	&__skills-wrap {
		margin-top: $aboutmeWrap-skillsWrap-marginTop;
		width: $aboutmeWrap-skillsWrap-width;
		height: $aboutmeWrap-skillsWrap-height;
		@include flex-jcc-aic;
		flex-direction: column;
		@include wraps-border($mainBlue);
		&__title {
			font-size: $aboutmeWrap-skillsWrap-title-fontSize;
			margin-bottom: $aboutmeWrap-skillsWrap-title-marginBottom;
		}
		&__skils {
			img {
				width: $aboutmeWrap-skillsWrap-skills-img-width;
				margin: $aboutmeWrap-skillsWrap-skills-img-margin;
			}
			&__firstLine {
				display: flex;
			}
			&__secondLine {
				display: flex;
			}
		}
	}
}
.mywork-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	&__project {
		position: relative;
		display: flex;
		overflow: hidden;
		margin: $myworkWrap-project-margin;
		width: $myworkWrap-project-width;
        height: $myworkWrap-project-height;
		border: 2px solid $mainOrange;
		border-radius: $borderRadius;
		&:hover &__spec {
			transform: translateX(0%);
		}
		&:hover &__info {
			transform: translateX(-100%);
		}
		&__info,
		&__spec {
			position: absolute;
			width: 100%;
			height: 100%;
			@include flex-jcc-aic;
			transition: transform 0.4s ease-in-out;
		}
		&__info {
			p {
				font-size: $myworkWrap-project-info-fontSize;
			}
		}
		&__spec {
			transform: translateX(100%);
			background-color: $mainOrange;
			&__project-name {
				display: none;
			}
			&__project-tech {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100%;
				img {
					width: $myworkWrap-project-spec-projectTech-img-width;
				}
				a {
					font-size: $myworkWrap-project-spec-projectTech-link-fontSize;
					color: $white;
                    transition: scale 0.3s, color 0.3s;
					&:hover {
						scale: 1.1;
						color: $mainBlue;
					}
				}
			}
		}
	}
    &__link{
        @include flex-jcc-aic;
        margin-top: $myworkWrap-link-marginTop;
        width: $myworkWrap-link-width;
        height: $myworkWrap-link-height;
        background-color: $mainOrange;
        color: $white;
        border-radius: $borderRadius;
    }
}
.certificates-wrap{
    @include flex-jcc-aic;
    flex-direction: column;
    .swiper {
        width: $certificatesWrap-swiper-width;
        height: $certificatesWrap-swiper-height;
        @include flex-jcc-aic;
      }
      img{
        width: 100%;
        height: 100%;
      }
      &__badges{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $certificatesWrap-badges-marginTop;
        img{
            width: $certificatesWrap-img-width;
            margin: $certificatesWrap-img-margin;
        }
      }
}
