@use 'colors' as *;
@use 'numbers' as *;
@use 'components' as *;
* {
	box-sizing: border-box;
	font-size: 10px;
}
body {
	background-color: $background;
    font-family: "Open Sans", sans-serif; //300-800
    overflow: hidden;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
	&__upper {
		display: flex;
		justify-content: space-between;
		align-items: center;
        width: 100%;
		&__logo,
		.fa-solid {
			padding: $logo-padding;
			font-size: $logo-fontSize;
			color: $white;
		}
		.fa-solid {
			font-size: $faSolid-fontSize;
		}
        &__hamburger{
            position: absolute;
            top: 5;
            right: 0;
            z-index: 99;
        }
	}
}
.home-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img-wrap{
        margin-top: $homeImg-marginTop;
        &__sticker{
            position: absolute;
            top: 40px;
            left: 30px;
            width: 100px;
            height: 60px;
            background-color: $sticker;
            transform: rotate(150deg);
            box-shadow: 0px -17px 20px -5px rgba(0, 0, 0, 1);
        }
        &__img{
            width: $homeImg-width;
        }
    }
}