@use 'colors' as *;
@use 'numbers' as *;
@use 'components' as *;
* {
	box-sizing: border-box;
	font-size: 10px;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	background-color: $background;
	font-family: 'Open Sans', sans-serif; //300-800
	color: $white;
}
.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__upper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__pc {
		display: none;
		li {
			cursor: pointer;
			transition: background-color 0.2s ease-in;
			&:hover{
				background-color: $mainBlue;
			}
		}
	}
	&__links {
		display: none;
		i{
			cursor: pointer;
			transition: color 0.2s ease-in;
			&:hover{
				color: $mainOrange;
			}
		}
		img{
			opacity: 0.8;
			cursor: pointer;
			transition: opacity 0.2s ease-in;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__logo,
	.fa-solid {
		padding: $logo-padding;
		font-size: $logo-fontSize;
		color: $white;
	}
	&__hamburger {
		position: absolute;
		right: 0;
		z-index: 99;
	}
	.fa-solid {
		font-size: $faSolid-fontSize;
	}
}
.home-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	&__img-wrap {
		margin-top: $homeImg-marginTop;
		position: relative;
	}
	&__sticker {
		position: absolute;
		top: $homeSticker-top;
		left: $homeSticker-left;
		width: $homeSticker-width;
		height: $homeSticker-height;
		background-color: $sticker;
		transform: rotate($homeSticker-rotation);
		box-shadow: 0px -17px 20px -5px $background;
	}
	&__img {
		width: $homeImg-width;
	}
	&__text {
		max-width: $homeText-maxWidth;
		padding: $homeText-padding;
		font-size: $homeText-fontSize;
		text-align: center;
		.text-js,
		.text-php,
		.text-wp {
			font-family: 'Tiny5', sans-serif;
		}
		.text-js {
			color: $js;
		}
		.text-php {
			color: $php;
		}
		.text-wp {
			color: $wp;
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__buttons {
		width: 300px;
	}
	&__button {
		position: relative;
		@include flex-jcc-aic;
		width: $homeButton-width;
		height: $homeButton-height;
		color: $white;
		border-radius: $borderRadius;
		&--mywork {
			left: $homeButton-mywork-left;
			background-color: $mainBlue;
			z-index: 1;
			border: 3px solid $mainBlue;
			cursor: pointer;
			transition: background-color 0.3s ease-in;
			&:hover{
				background-color: $background;
			}
		}
		&--contact {
			top: $homeButton-contact-top;
			left: $homeButton-contact-left;
			background-color: $mainOrange;
			border: 3px solid $mainOrange;
			cursor: pointer;
			transition: background-color 0.3s ease-in;
			&:hover{
				background-color: $background;
			}
		}
	}
}
.aboutme-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	.aboutme-wrap__right-section {
		display: flex;
		flex-direction: column;
	}
	&__person-wrap {
		@include flex-jcc-aic;
		flex-direction: column;
		@include wraps-border($mainOrange);
		background: $background;
		width: $aboutmeWrap-personWrap-width;
		height: $aboutmeWrap-personWrap-height;
	}
	&__img-wrap {
		position: relative;
		width: $aboutmeWrap-personWrap-imgWrap-width;
		height: $aboutmeWrap-personWrap-imgWrap-height;
		border-radius: 50%;
		background: $mainOrange;
		display: flex;
		justify-content: center;
		align-items: end;
	}
	&__img {
		position: relative;
		bottom: $aboutmeWrap-personWrap-imgWrap-img-bottom;
		width: $aboutmeWrap-personWrap-imgWrap-img-width;
	}
	&__name {
		position: relative;
		top: $aboutmeWrap-personWrap-name-top;
		width: $aboutmeWrap-personWrap-name-width;
		height: $aboutmeWrap-personWrap-name-height;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $mainOrange;
		z-index: 99;
		border-radius: 50px;
		font-size: $aboutmeWrap-personWrap-name-fontsize;
	}
	&__email {
		font-size: $aboutmeWrap-personWrap-email-fontsize;
	}
	&__cv-button {
		@include flex-jcc-aic;
		margin-top: $aboutmeWrap-personWrap-cvButton-marginTop;
		width: $aboutmeWrap-personWrap-cvButton-width;
		height: $aboutmeWrap-personWrap-cvButton-height;
		background-color: $mainBlue;
		color: $white;
		border: 3px solid $mainBlue;
		border-radius: 50px;
		cursor: pointer;
		transition: background-color 0.3s ease-in;
		&:hover{
			background-color: $background;
		}
	}
	&__description-wrap {
		margin-top: $aboutmeWrap-descriptionWrap-marginTop;
		padding: $aboutmeWrap-descriptionWrap-padding;
		width: $aboutmeWrap-descriptionWrap-width;
		height: $aboutmeWrap-descriptionWrap-height;
		@include flex-jcc-aic;
		@include wraps-border($mainBlue);
		text-align: center;
		line-height: 1.2em;
	}
	&__skills-wrap {
		margin-top: $aboutmeWrap-skillsWrap-marginTop;
		width: $aboutmeWrap-skillsWrap-width;
		height: $aboutmeWrap-skillsWrap-height;
		@include flex-jcc-aic;
		flex-direction: column;
		@include wraps-border($mainBlue);
	}
	&__title {
		font-size: $aboutmeWrap-skillsWrap-title-fontSize;
		margin-bottom: $aboutmeWrap-skillsWrap-title-marginBottom;
	}
	&__skill-img {
		width: $aboutmeWrap-skillsWrap-skills-img-width;
		margin: $aboutmeWrap-skillsWrap-skills-img-margin;
	}
	&__secondLine {
		display: flex;
	}
	&__firstLine {
		display: flex;
	}
}
.mywork-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	&__project {
		position: relative;
		display: flex;
		overflow: hidden;
		margin: $myworkWrap-project-margin;
		width: $myworkWrap-project-width;
		height: $myworkWrap-project-height;
		border: 2px solid $mainOrange;
		border-radius: $borderRadius;
		&:hover .mywork-wrap__spec {
			transform: translateX(0%);
		}
		&:hover .mywork-wrap__info {
			transform: translateX(-100%);
		}
	}
	&__more-button {
		@include flex-jcc-aic;
		margin-top: $myworkWrap-link-marginTop;
		width: $myworkWrap-link-width;
		height: $myworkWrap-link-height;
		background-color: $mainOrange;
		color: $white;
		border: 3px solid $mainOrange;
		border-radius: $borderRadius;
		cursor: pointer;
		transition: background-color 0.2s ease-in;
		&:hover{
			background-color: $background;
		}
	}
	&__info,
	&__spec {
		position: absolute;
		width: 100%;
		height: 100%;
		@include flex-jcc-aic;
		transition: transform 0.4s ease-in-out;
	}
	&__info {
		p {
			font-size: $myworkWrap-project-info-fontSize;
		}
	}
	&__spec {
		transform: translateX(100%);
		background-color: $mainOrange;
	}
	&__project-name {
		display: none;
	}
	&__project-tech {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
	&__tech-img {
		width: $myworkWrap-project-spec-projectTech-img-width;
	}
	&__tech-link {
		font-size: $myworkWrap-project-spec-projectTech-link-fontSize;
		color: $white;
		transition: scale 0.3s, color 0.3s;
		&:hover {
			scale: 1.1;
			color: $mainBlue;
		}
	}
}
.certificates-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	.swiper {
		width: $certificatesWrap-swiper-width;
		height: $certificatesWrap-swiper-height;
		@include flex-jcc-aic;
	}
	img {
		width: 100%;
		height: 100%;
	}
	&__badges {
		@include flex-jcc-aic;
		margin-top: $certificatesWrap-badges-marginTop;
		img {
			display: none;
			width: $certificatesWrap-img-width;
			margin: $certificatesWrap-img-margin;
		}
	}
}
.contact-wrap {
	@include flex-jcc-aic;
	flex-direction: column;
	margin-bottom: 5em;
	&__container {
		display: flex;
		flex-direction: column;
		width: 350px;
		padding: 2em;
		border: 1px solid $mainOrange;
		border-top-left-radius: $borderRadius;
		border-top-right-radius: $borderRadius;
	}
	&__form {
		@include flex-jcc-aic;
		flex-direction: column;
		textarea {
			height: 200px;
		}
	}
	&__input {
		width: 100%;
		padding: 1em;
		background-color: $background;
		border: 1px solid $mainOrange;
		border-radius: $borderRadius;
		color: $white;
		margin: 1em 0;
		font-size: 1.5rem;
	}
	&__submit {
		background-color: $mainOrange;
		margin: 1em 0;
		padding: 0.7em;
		border: none;
		width: 60%;
		color: $white;
		border: 3px solid $mainOrange;
		border-radius: $borderRadius;
		font-size: 1.3rem;
		cursor: pointer;
		transition: 0.2s background-color ease-in;
		&:hover{
			background-color: $background;
		}
	}
	&__socials {
		width: 350px;
		background-color: $mainOrange;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0.2em 0;
		font-size: 3rem;
		border: 1px solid $mainOrange;
		border-bottom-left-radius: $borderRadius;
		border-bottom-right-radius: $borderRadius;
		pointer-events: none;
		transition: background-color 0.2s ease-in;
		a {
			padding: 0.6em;
			color: $white;
			pointer-events: auto;
			&:hover{
				color: $mainOrange;
			}
		}
		&:hover{
			background-color: $background;
		}
	}
}
.footer-wrap {
	margin: 1em 0;
	display: flex;
	align-items: center;
	justify-content: center;
	&__left {
		text-align: center;
		border-right: 1px solid $white;
		padding: 1em;
		color: $gray;
	}
	&__right {
		display: flex;
	}
	&__first-column,
	&__second-column {
		display: flex;
		flex-direction: column;
		padding: 2em 0;
		padding-left: 1em;
		a {
			color: $gray;
			padding: 0.3em;
			&:hover{
				color: $white;
			}
		}
	}
}
@media screen and (min-width: 576px) {
	.nav {
		&__upper {
			position: relative;
			max-width: 576px;
		}
	}
	.home-wrap {
		&__buttons {
			display: flex;
			justify-content: space-around;
		}
		&__img {
			width: 350px;
		}
		&__sticker {
			width: 120px;
		}
		&__buttons {
			width: 400px;
		}
		&__button {
			position: unset;
			margin: 1em;
			&--work {
				left: unset;
			}
			&--contact {
				top: unset;
				left: unset;
			}
		}
	}
	.aboutme-wrap {
		&__person-wrap {
			width: 500px;
		}
		&__cv-button {
			padding: 0.9em;
		}
		&__description-wrap {
			width: 500px;
			font-size: 1.2rem;
		}
		&__skills-wrap {
			width: 500px;
			height: 350px;
		}
		&__skill-img {
			margin: 1em 1.3em;
			width: 80px;
		}
	}
	.mywork-wrap {
		&__project {
			width: 500px;
		}
	}
	.certificates-wrap {
		.swiper {
			width: 500px;
			height: 390px;
		}
	}
	.contact-wrap {
		&__container {
			width: 500px;
		}
		&__socials {
			width: 500px;
		}
	}
	.footer-wrap {
		&__first-column,
		&__second-column,
		&__left {
			padding-left: 2em;
			font-size: 1.2rem;
		}
	}
}
@media screen and (min-width: 768px) {
	.nav {
		&__upper {
			max-width: 700px;
		}
	}
	.home-wrap {
		&__img {
			width: 500px;
		}
	}
	.aboutme-wrap {
		&__person-wrap {
			width: 500px;
			height: 580px;
		}
		&__img-wrap {
			width: 400px;
			height: 400px;
			overflow: hidden;
		}
		&__img {
			width: 300px;
		}
		&__name {
			top: -30px;
			width: 350px;
		}
		&__email {
			position: relative;
			top: -10px;
		}
	}
	.mywork-wrap {
		&__project {
			width: 600px;
		}
	}
	.certificates-wrap {
		.swiper {
			width: 700px;
			height: 530px;
		}
	}
}
@media screen and (min-width: 992px) {
	.nav {
		&__upper {
			height: 80px;
			max-width: 992px;
		}
		&__pc {
			display: block;
			ul {
				display: flex;
			}
			li {
				padding: 2em 2em;
				a {
					color: $white;
				}
			}
		}
		&__hamburger {
			display: none;
		}
		&__links {
			display: flex;
			align-items: center;
			justify-content: center;
			i {
				font-size: 1.8rem;
				color: $white;
				margin: 0 0.5em;
			}
			img {
				width: 40px;
				margin: 0 1em;
			}
		}
	}
	.home-wrap {
		flex-direction: row;
		justify-content: center;
		&__img {
			width: 300px;
		}
		&__container {
			width: 500px;
		}
	}
	.aboutme-wrap {
		&__container {
			display: flex;
			width: 970px;
			justify-content: space-between;
			align-items: center;
		}
		&__person-wrap {
			width: 450px;
			height: 620px;
		}
		&__description-wrap {
			margin-top: unset;
			height: 270px;
		}
		&__skills-wrap {
			height: 320px;
		}
	}
	.mywork-wrap {
		&__project {
			width: 970px;
		}
	}
	.certificates-wrap {
		.swiper {
			width: 970px;
			height: 800px;
		}
	}
	.contact-wrap {
		&__container {
			width: 970px;
		}
		&__socials {
			width: 970px;
		}
	}
	.footer-wrap {
		&__left {
			padding-right: 3em;
		}
		&__first-column,
		&__second-column {
			padding-left: 3em;
		}
	}
}
@media screen and (min-width: 1200px) {
}
