.nav__uk {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    &:hover {
        opacity: 1;
    }
}
.nav__pl{
    opacity: 1;
}
.mobile-nav{
    &__pl{
        opacity: 1;
    }
    &__uk{
        opacity: 0.6;
        transition: opacity 0.2s;
        &:hover{
            opacity: 1;
        }
    }
}